<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88038614808-c8lhh9plrbiq62l2se5342i09r939nk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88038614808-c8lhh9plrbiq62l2se5342i09r939nk5</string>
	<key>API_KEY</key>
	<string>AIzaSyBNMWPSmKdnXLvJw3wq9_DMidEf02KRxfw</string>
	<key>GCM_SENDER_ID</key>
	<string>88038614808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ethan-McFarland.LoveUDaily</string>
	<key>PROJECT_ID</key>
	<string>loveudaily-ccad7</string>
	<key>STORAGE_BUCKET</key>
	<string>loveudaily-ccad7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88038614808:ios:fa641992c15293ae8ba06d</string>
	<key>DATABASE_URL</key>
	<string>https://loveudaily-ccad7-default-rtdb.firebaseio.com</string>
</dict>
</plist>